<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Tim Andersson</string>
	<key>Builder Version</key>
	<string>14606.3.4</string>
	<key>CFBundleDisplayName</key>
	<string>No Summary For You!</string>
	<key>CFBundleIdentifier</key>
	<string>se.cocoabeans.safari.nosummaryforyou</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>background.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>toggle</string>
				<key>Identifier</key>
				<string>toggle</string>
				<key>Image</key>
				<string>toolbar.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>No Summary For You!</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>Scripts/netflix.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>Styles/extension.css</string>
			<string>Styles/netflix.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Hides summaries for movies and TV shows on Netflix.</string>
	<key>DeveloperIdentifier</key>
	<string>666L949UND</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.netflix.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update From Gallery</key>
	<true/>
	<key>Update Manifest URL</key>
	<string>https://nosummaryforyou.com/safari_extension_update_manifest.plist</string>
	<key>Website</key>
	<string>https://nosummaryforyou.com</string>
</dict>
</plist>
